<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-info">
        <div class="card-body">
          <h5 class="card-title">Reparaciones</h5>
          <div class="chart-container">
            <canvas id="chartLine"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-info">
        <div class="card-body">
          <h5 class="card-title">Estado de Reparaciones</h5>
          <div class="chart-container">
            <canvas id="chartPie"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card border-info">
        <div class="card-body">
          <h5 class="card-title">Usuarios</h5>
          <div class="chart-container">
            <canvas id="chartBar"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-info">
        <div class="card-body">
          <h5 class="card-title">Materiales</h5>
          <div class="chart-container">
            <canvas id="chartRadar"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
