<div class="container mt-3">
  <div class="card-body">
    <div class="card-header">
      <div class="row">
        <div class="col fw-bold text-start"><h5>Usuarios</h5></div>
        <div class="col text-end">
          <a href="#" [routerLink]="['/usuario/create']" class="btn btn-dark-c"
            ><i class="bi bi-person-fill-add"></i> Agregar Usuario</a
          >
        </div>
      </div>
    </div>
    <form>
      <div class="row mt-2">
        <div class="col-auto text-end">
          <input
            class="form-control form-control-sm"
            type="text"
            placeholder="Buscar..."
            [formControl]="searchControl"
          />
        </div>
      </div>
    </form>
    <div class="row mt-2">
      <div class="col">
        <table class="table table-hover table-responsive table-sm">
          <tr>
            <th>Nº</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Fecha Creacion</th>
            <th>Acciones</th>
          </tr>
          <tbody>
            <tr
              *ngFor="
                let item of filtroUsuarios
                  | paginate
                    : { itemsPerPage: itemsPerPage, currentPage: currentPage };
                let indice = index
              "
            >
              <td>{{ indice + 1 }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.rol }}</td>
              <td>
                {{ item.fechaCreacion | date : "yyyy-MM-dd HH:mm:ss-SS" }}
              </td>
              <td>
                <div class="dropdown">
                  <a
                    href="#!"
                    class="bi bi-gear-fill accion-link"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  ></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        title="seleccionar"
                        [routerLink]="['view/', item.usuarioId]"
                        ><i class="bi bi-hand-index-fill"></i> View</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        title="editar"
                        [routerLink]="['edit/', item.usuarioId]"
                        ><i class="bi bi-pencil-fill"></i> Editar</a
                      >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a
                        class="dropdown-item"
                        title="eleminar"
                        (click)="deleteUsuario(item.usuarioId)"
                        ><i class="bi bi-trash-fill"></i> Delete</a
                      >
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          (pageChange)="currentPage = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
