<div class="container">
  <div class="row g-4 g-xxl-5">
    <div class="col-xl-9 mx-auto">
      <!-- Contact form START -->
      <div class="row mt-n5 mt-sm-n7 mt-md-n8">
        <div class="col-11 col-lg-9 mx-auto">
          <div class="card shadow p-4 p-sm-5 p-md-6">
            <!-- Card header -->
            <div class="card-header border-bottom p-2 px-0 pt-5 pb-5">
              <!-- Title -->
              <div class="text-center">
                <h1 class="mb-3 h3">Contactanos</h1>
              </div>
            </div>
            <!-- Card body & form -->
            <form class="card-body px-0 pb-0 pt-5">
              <!-- Name -->
              <div class="input-floating-label form-floating mb-4">
                <input
                  type="text"
                  class="form-control bg-transparent"
                  id="floatingName"
                  placeholder="Password"
                />
                <label for="floatingName">Your name</label>
              </div>
              <!-- Email -->
              <div class="input-floating-label form-floating mb-4">
                <input
                  type="email"
                  class="form-control bg-transparent"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Email address</label>
              </div>
              <!-- Number -->
              <div class="input-floating-label form-floating mb-4">
                <input
                  type="text"
                  class="form-control bg-transparent"
                  id="floatingNumber"
                  placeholder="Password"
                />
                <label for="floatingNumber">Phone number</label>
              </div>
              <!-- Message -->
              <div class="input-floating-label form-floating mb-4">
                <textarea
                  class="form-control bg-transparent"
                  placeholder="Leave a comment here"
                  id="floatingTextarea2"
                  style="height: 100px"
                ></textarea>
                <label for="floatingTextarea2">Message</label>
              </div>
              <!-- Button -->
              <button class="btn btn-lg btn-dark-c mb-0">
                <i class="bi bi-send"></i> Send a message
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- Contact form END -->
    </div>
  </div>
  <!-- Row END -->
</div>
