<!-- <footer class="footer mt-auto py-3">
  <div class="container-fluid bg-success-subtle">
    <div class="row align-items-center fw-semibold">
      <div class="col text-end">
        derechos recervados jcdevelopers
      </div>
      <div class="col text-start">
        nuestras redes sociales
      </div>
    </div>
  </div>
</footer> -->

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre Nosotros</h5>
        <p>Soporte tecnico de ordenadores</p>
      </div>
      <div class="col-md-4">
        <h5>Enlaces Útiles</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['page/home']">Inicio</a></li>
          <li><a [routerLink]="['page/contactos']">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <a href="https://facebook.com/mantordpc" title="facebook"
          ><i class="fab fa-facebook"></i></a
        >&nbsp;
        <a href="#"><i class="fa-brands fa-instagram" title="instagram"></i></a
        >&nbsp;
        <a href="#"><i class="fa-brands fa-github" title="github"></i></a>
      </div>
    </div>
  </div>
</footer>
